/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #2ecc71;
  font-weight: bold;
  font-size: 1.25em;
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #27ae60;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #1e8449;
}

table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

thead {
  background-color: #27ae60;
}

th, td {
  padding: 10px;
  border: 1px solid #2ecc71;
  text-align: left;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: #1e8449;
}

tbody tr:nth-child(even) {
  background-color: #196f3d;
}

tbody tr:hover {
  background-color: #145a32;
}

#currently-playing,
#user-info {
  margin: 20px;
  padding: 20px;
  background-color: #196f3d;
  border-radius: 5px;
}

p#location {
  margin: 20px;
  font-style: italic;
}

#currently-playing p,
#user-info p {
  color: #fff;
}
