@import url(//fonts.googleapis.com/css?family=Lato:300:400);
/* Dashboard styles */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(229, 165, 113);
    background-image: linear-gradient(to top right, rgba(150, 36, 36, 0.3) 20%, rgba(242, 136, 180, 0.3) 80%);
    color: rgb(163, 96, 178);
    margin: 0;
    padding: 0;
    font-size: large;
    font-weight: bold;
  }
  .blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 998;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none; /* To make sure clicks pass through the overlay */
  }

  #logo-container {
    position: relative;
  }
  
  #logo-container img:first-child {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  #logo-container img:last-child {
    position: absolute;
    top: 0;
    right: 0;
  }

  #nest {
    position: absolute;
    top: 18%;
    left: 0;
    right: 0;
    text-align: center;
    
  }
  
  #nest h1 {
    font-size: 8rem;

  }
  #nest h2{
    font-size: 3rem;
  }
  
  
  #main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  #proximity-users-section {
    flex: 1;
    max-width: 60%;
    text-align: left;
    /* position: absolute;
    left: 50px; */
    position: relative;
  }
  #user-info-trigger {
    position: fixed;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    z-index: 999;
  }
  
  #user-info-section {
    position: fixed;
    top: 0;
    right: -600px;
    width: 600px;
    height: 100%;
    padding: 20px;
    background-color: rgba(197, 78, 108, 0.7);
    box-shadow: 0px 3px 15px rgba(132, 77, 80, 0.2);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: right 0.3s ease;
    opacity: 1;

  }
  
  h2{
    margin-bottom: 10px;
    color: #361344;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: medium;
  }
  
  #proximity-users-section:before {
    content: "";
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(at center, rgba(255, 230, 222, 0.2) 30%, rgba(255, 243, 232, 0.2) 80%);
    z-index: -1;
    border-radius: 10px;
  }
  
  #user-info-section:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background: radial-gradient(at center, rgba(255, 255, 135, 0.308) 30%, rgba(255, 250, 239, 0.175) 80%);*/
    z-index: -1;
    border-radius: 10px;
  }
  
  #table-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 20px;
    transition: height 0.4s;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 10;
  }
  table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    opacity: .85;
  }
  
  thead {
    background-color: #6C3483;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #8E44AD;
    text-align: left;
  }
  
  th {
    font-weight: bold;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #4B1D57;
  }
  
  tbody tr:nth-child(even) {
    background-color: #682A79;
  }
  
  tbody tr:hover {
    background-color: #3C1B49;
    opacity: 0.4;
  }
  
#table-container:hover {
    opacity: 1;
  }
  
  #user-info-trigger:hover #user-info-section {
    right: 0;
    opacity: 1;
  }
  #user-info-trigger:hover ~ .blur-overlay {
    opacity: 1;
  }
  
  
  
  /* Table container */
  #table-container {
    opacity: 100;
    transition: opacity 0.4s, height 0.4s;
  }
  
  #table-container:hover {
    opacity: 100;
    height: 34vh;
    overflow-y: auto;
  }

  #message-container {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 68%; 
    background-color: rgba(0, 0, 0, 1);
    z-index: 1000;
    transition: top 0.4s ease;
  }
  
  #message-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-size: 100px;
  }
  

  .waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
    transform: scaleY(-1);
  }
  
  .content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    transform: scaleY(-1);
  }
  
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
  
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  
  @media (max-width: 768px) {
    .waves {
      height: 40px;
      min-height: 40px;
    }
  
    .content {
      height: 60vh;
    }
}
